* {
    padding: 0px;
    margin: 0px;
}

.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 5vh;
    font-weight: 300;
}

.i-name {
    font-size: 7vh;

}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-desc{
    font-size: 4vh;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
 
    display: flex;
    align-items: center;

    background-image: linear-gradient(
    -225deg,
    #8b73e0 0%,
    #653b91 29%,
    #ff1361 67%,
    #22ff00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.4s linear infinite;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.i_img{
    width: 50%;
    height: 65%;
    border-radius: 33%;
    object-fit: cover;
    position: absolute;
    background: white;
animation: animate 0.75s ease-in-out forwards;
}

@keyframes animate{
0%{
opacity:0;
transform: scale(0) translateY(10px);
}
50%{
 opacity:1;
}
100%{
opacity: 1;
}
}

.i_bg{
    clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    background: linear-gradient(90deg, #ad3fd5, #52f262) ;

}





@media screen and (max-width:356px){
    .i-left-wrapper {
        padding: 10px;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .i-intro {
        font-size: 13px;
        font-weight: 300;
    }
    
    .i-name {
        font-size: 18px;
    
    }
    .i-desc{
        font-size: 13px;
    }
    
    .i-title {
        height: 50px;
        overflow: hidden;
    }
    
    
    .i-title-item {
        height: 50px;
        font-size: 14px;
        font-weight: bold;
        color: #59b256;
        display: flex;
        align-items: center;
    }
    
    .i_img{
        width: 70%;
        height: 45%;
        border-radius: 33%;
        object-fit: cover;
        position: absolute;
        background: white;
    
    }
}

@media (min-width:356px) and (max-width:500px){
    
    .i {
        display: flex;
        height: 100vh;
    }
    .i-left-wrapper {
        padding: 10px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .i-intro {
        font-size: 17px;
        font-weight: 300;
    }
    
    .i-name {
        font-size: 20px;
    
    }
    
    .i-title {
        height: 50px;
        overflow: hidden;
    }

    .i-desc{
        font-size: 12px;
    }
    
    
    .i-title-item {
        height: 50px;
        font-size: 13px;
        font-weight: bold;
        color: #59b256;
        display: flex;
        align-items: center;
    }
    
    .i_img{
        width: 70%;
        height: 45%;
        border-radius: 33%;
        object-fit: cover;
        position: absolute;
        background: white;
    
    }
    
}
   

@media (min-width:500px) and (max-width:750px){
   
    .i-left-wrapper {
        padding: 10px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .i-intro {
        font-size: 22px;
        font-weight: 300;
    }
    
    .i-name {
        font-size: 29px;
    
    }
    
    .i-title {
        height: 50px;
        overflow: hidden;
    }

    .i-desc{
        font-size: 13px;
    }
    .i-title {
        height: 50px;
        overflow: hidden;
    }
    
    
    .i-title-item {
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #59b256;
        display: flex;
        align-items: center;
    }
    
    .i_img{
        width: 70%;
        height: 65%;
        border-radius: 33%;
        object-fit: cover;
        position: absolute;
        background: white;
    
    }
}














