* {
    padding: 0px;
    margin: 0px;
}

.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 60px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i_img{
    width: 50%;
    height: 65%;
    border-radius: 33%;
    object-fit: cover;
    position: absolute;
}
.i-bg{
    clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #59b256;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:500px){
    .i{
        height: 100%;
    }

    .i-left{
        height: 100%;
    }
 
    .i-left-wrapper {
        padding: 10px;
        height: 50%;
       
    }

    .i-intro {
        font-size: 12px;

    }
    .i-name {
        font-size: 20px;
    }


    .i-title {
        height: 10px;
        margin-top: 5px;
        overflow: hidden;
    }
    .i-title-wrapper {
        height: 100%;
        animation: move 14s ease-in-out infinite alternate;
    }
    
    @keyframes move {
        25% {
            transform: translateY(-50px); 
            /* -50 */
        }
    
        50% {
            transform: translateY(-100px);
        }
    
        75% {
            transform: translateY(-150px);
        }
    
        100% {
            transform: translateY(-200px);
        }
    }
    

    
    .i-title-item {
        height: 50px;
        font-size: 10px;
        font-weight: bold;
        color: #59b256;
        display: flex;
        align-items: flex-start;
    }
    
    


.i-desc{
    font-size: 10px;
    /* this size for any type of desc */
    margin-top: 10px;
}

}














