.p{
    width: 30%;
    height:40vh ;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
   
  
}

.p-browser{
    height: 20px;
    background-color:rgb(243, 242, 242) ;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius:50%;
    margin: 3px;
    background-color: white;
}
.p-img{
    width: 100%;
    object-fit:cover;
    /* transition:all 2s ease; */
   
}
.p:hover .p-img{
    animation: mo 10s ease-in-out infinite alternate;
}
@keyframes mo {
    100%{transform: translateY(-60%)};
}

@media screen and (max-width:500px) {
    .p{
        width: 45%;
        height:15vh ;
        margin: 5px 2.5px;
        border: 2px solid rgb(243, 242, 242);
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }

    @media screen and (max-width:400px) {
        .p{
            width: 45%;
            height:15vh ;
            margin: 5px 2.5px;
            border: 2px solid rgb(243, 242, 242);
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
        }

        .p-browser{
            height: 4px;
            background-color:rgb(243, 242, 242) ;
            display: flex;
            align-items: center;
            position: sticky;
            z-index: 2;
        }

        .p-circle{
            width: 2px;
            height: 2px;
            border-radius:50%;
            margin: 3px;
            background-color: white;
        }
    
}
}

